@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 122 39% 49%;
    --primary-foreground: 210 31% 97%;

    --secondary: 200 19% 18%;
    --secondary-foreground: 122 39% 49%;

    --muted: 200 19% 18%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 10% 95%;
    --accent-foreground: 200 19% 18%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 31% 97%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --neutral-black: 200 19% 18%;
    --neutral-d-grey: 0 0% 30%;
    --neutral-grey: 0 0% 44%;
    --neutral-l-grey: 210 10% 58%;
    --neutral-grey-blue: 210 29% 75%;
    --neutral-silver: 210 31% 97%;
    --neutral-white: 0 0% 100%;
  }

  .dark {
    --background: 213 55% 10%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 122 39% 49%;
    --primary-foreground: 210 31% 97%;

    --secondary: 0 0% 100%;
    --secondary-foreground: 210 40% 98%;

    --muted: 200 19% 18%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 200 19% 18%;
    --accent-foreground: 122 39% 49%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --neutral-black: 213 57% 4%;
    --neutral-d-grey: 0 0% 100%;
    --neutral-grey: 210 31% 97%;
    --neutral-l-grey: 210 10% 58%;
    --neutral-grey-blue: 0 0% 100%;
    --neutral-silver: 213 57% 7%;
    --neutral-white: 0 0% 100%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
